html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header {
  /* display: inline-block; */
  background-color: white;
}
#schoolname {
  font-size: 32px;
}
#light {
  color: gray;
}
#dark {
  color: rgb(41, 40, 40);
}
nav {
  padding-top: 28px;
  font-size: 20px;
  justify-content: right;
  margin-left: auto;
}
h1 {
  font-weight: boldest;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: right;
}
li a {
  padding: 16px;
  color: darkslategray;
}
li p {
  font-size: 16px;
  padding: 16px;
}
a {
  text-decoration: none;
}
li a:last-child {
  margin-right: 24px;
}
.banner-box {
  background-color: lightgray;
}
section {
  padding: 32px 24px;
}
/* .section2 {
  background-color: aqua;
} */
.flex {
  display: flex;
}
.large-image-box {
  width: 60%;
}
.rightbox {
  width: 40%;
  margin-left: 24px;
}
.textbox {
  margin-left: 24px;
  color: rgb(70, 70, 70);
}
.smallbox-image {
  width: 35%;
  padding: 16px 16px 16px 16px;
  height: auto;
}
.textright {
  width: 65%;
}
img {
  max-width: 100%;
}
h4,
.info-heading {
  font-weight: 900;
}
button {
  background-color: rgb(70, 70, 70);
  color: white;
  width: 100%;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
.gray {
  background-color: lightgray;
}
.section3flex {
  display: flex;
  flex-wrap: wrap;
  padding-right: 72px;
  padding-left: 72px;
  padding-bottom: 32px;
  gap: 16px;
}

.thirdflexbox {
  flex-flow: row;
  background-color: white;
  width: 32%;
}
.section-header {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}
.right {
  justify-content: right;
  text-align: right;
}

.graywords {
  color: rgb(80, 79, 79);
}

.footer-right {
  justify-content: right;
  margin-left: auto;
}
h5 {
  padding-top: 5px;
  font-size: 16px;
}
.mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: inherit;
  }
  h1#schoolname {
    display: none;
  }
  header {
    justify-content: space-evenly;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  nav {
    display: none;
  }
  .banner-box.flex {
    flex-direction: column;
  }
  .rightbox {
    width: 100%;
    margin-left: 8px;
  }
  .large-image-box {
    width: 100%;
  }
  button {
    background-color: rgb(126, 126, 126);
    font-weight: bolder;
    width: 95%;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 32px;
    margin-top: 24px;
  }
  .textbox {
    margin-left: 0px;
  }
  .disappear {
    display: none;
  }
  /* .smallbox-image {
    width: 100%;
    margin: 16px;
  } */
  .rightbox {
    width: 100%;
  }
  .smallbox {
    flex-direction: column;
  }
  .textright {
    margin-bottom: 64px;
  }
  .textright:last-child {
    margin-bottom: 32px;
  }
  a {
    color: royalblue;
  }
}
